.form {
  width: 80%;
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .form {
    width: 90%;
    flex-direction: column;
  }
}