.header__menu-item {
  display: inline-block;
  margin-right: 29px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.46;
  color: #9E9AA8;
  text-decoration: none;
  transition: color 1s;
}

.header__menu-item:hover {
  color: #34313D;
}

@media screen and (max-width:680px) {
  .header__menu-item {
    margin-right: 0;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
  }
}