.header__menu-item {
  display: inline-block;
  margin-right: 29px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.46;
  color: #9E9AA8;
  text-decoration: none;
}