.footer__info-link {
  display: block;
  margin-bottom: 10px;
  font-family: Poppins Medium;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.234375px;
  color: #BFBFBF;
  text-decoration: none;
  transition: color 1s;
}

.footer__info-link:hover {
  color: #2BD0D0;
}