.offer__btn {
  max-width: 197px;
  height: 56px;
  padding: 0;
  padding: 14px 40px 12px;
  border: none;
  font-family: Poppins Bold;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  background: #2BD0D0;
  border-radius: 28px;
  cursor: pointer;
  transition: background 1s;
}

.offer__btn:hover {
  background: #9AE3E3;
}