.header {
  display: flex;
  align-items: center;
  background-color: #fff;
}

@media screen and (max-width:1100px) {
  .header {
    width: 95%;
  }
  
}

@media screen and (max-width: 690px) {
  .header {
    justify-content: space-between;
    position: relative;
  }
}