.header {
  max-width: 1108px;
  margin: 48px auto 0;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.header__logo {
  width: 120px;
  height: 32px;
  margin-right: 45px;
}

.header__menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.header__menu-item {
  display: inline-block;
  margin-right: 29px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.46;
  color: #9E9AA8;
  text-decoration: none;
}

.header__btns {
  margin-left: auto;
}

.header__btn-login {
  margin: 0;
  margin-right: 37px;
  padding: 0;
  background-color: transparent;
  border: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.46;
  color: #9E9AA8;
}

.header__btn-signin {
  margin: 0;
  padding: 0;
  padding: 9px 23px 8px 24px;
  border: none;
  background: #2BD0D0;
  border-radius: 28px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.46;
  color: #FFFFFF;
}