.header__btn-signin {
  margin: 0;
  padding: 0;
  padding: 9px 23px 8px 24px;
  border: none;
  background: #2BD0D0;
  border-radius: 28px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.46;
  color: #FFFFFF;
}