.first-section {
  height: 100vh;
  padding-top: 48px;
  background-color: #fff;
  overflow: hidden;
}

.first-section__inner {
  margin-top: 78px;
  position: relative;
}

.first-section__image {
  width: 733px;
  height: 482px;
  position: absolute;
  top: 0;
  right: -288px;
} 