.first-section {
  height: 100vh;
  padding-top: 48px;
  background-color: #fff;
  overflow-x: hidden;
}

@media screen and (max-width: 1000px) {
  .first-section {
    height: fit-content;
  }
}

@media screen and (max-width: 510px) {
  .first-section {
    padding-top: 40px;
  }
}
