@import url('../vendor/normalize.css');
@import url('../vendor/poppinsFont/poppins.css');


@import url(../blocks/page/page.css);

@import url(../blocks/first-section/first-section.css);
@import url(../blocks/first-section/__inner/first-section__inner.css);
@import url(../blocks/first-section/__image/first-section__image.css);

@import url(../blocks/container/container.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/header/__menu-item/header__menu-item.css);
@import url(../blocks/header/__btns/header__btns.css);
@import url(../blocks/header/__btn-login/header__btn-login.css);
@import url(../blocks/header/__btn-sighin/header__btn-signin.css);

@import url(../blocks/offer/offer.css);
@import url(../blocks/offer/__title/offer__title.css);
@import url(../blocks/offer/__subtitle/offer__subtitle.css);
@import url(../blocks/offer/__btn/offer__btn.css);


@import url(../blocks/main/main.css);

@import url(../blocks/footer/footer.css);