@import url('../vendor/normalize.css');
@import url('../vendor/poppinsFont/poppins.css');


@import url(../blocks/page/page.css);
@import url(../vendor/vendor.css);
@import url(../blocks/button-started/button-started.css);
@import url(../blocks/burger-btn/burger-btn.css);
@import url(../blocks/form-wrapper/form-wraper.css);

@import url(../blocks/first-section/first-section.css);
@import url(../blocks/first-section/__inner/first-section__inner.css);
@import url(../blocks/first-section/__image/first-section__image.css);


@import url(../blocks/container/container.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__nav/header__nav.css);
@import url(../blocks/header/__nav/_active/header__nav_active.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/header/__menu-item/header__menu-item.css);
@import url(../blocks/header/__btns/header__btns.css);
@import url(../blocks/header/__btn-login/header__btn-login.css);
@import url(../blocks/header/__btn-sighin/header__btn-signin.css);

@import url(../blocks/offer/offer.css);
@import url(../blocks/offer/__title/offer__title.css);
@import url(../blocks/offer/__subtitle/offer__subtitle.css);
@import url(../blocks/offer/__btn/offer__btn.css);

@import url(../blocks/form/form.css);
@import url(../blocks/form/__input/form__input.css);
@import url(../blocks/form/__btn/form__btn.css);

@import url(../blocks/main/main.css);

@import url(../blocks/feutures/feutures.css);
@import url(../blocks/feutures/__heading/feutures__heading.css);
@import url(../blocks/feutures/__title/feutures__title.css);
@import url(../blocks/feutures/__subtitle/feutures__subtitle.css);
@import url(../blocks/feutures/__cards/feutures__cards.css);
@import url(../blocks/feutures/__line/feutures__line.css);

@import url(../blocks/card/card.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__title/card__title.css);
@import url(../blocks/card/__text/card__text.css);
@import url(../blocks/card/_type/_detailed-records/card_type_detailed-records.css);
@import url(../blocks/card/_type/_fully-customizable/card_type_fully-customizable.css);

@import url(../blocks/start/start.css);
@import url(../blocks/start/__wrapper/start__wrapper.css);
@import url(../blocks/start/__title/start__title.css);
@import url(../blocks/start/__btn/start__btn.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__wrapper/footer__wrapper.css);
@import url(../blocks/footer/__logo/footer__logo.css);
@import url(../blocks/footer/__info/footer__info.css);
@import url(../blocks/footer/__column/footer__column.css);
@import url(../blocks/footer/__title/footer__title.css);
@import url(../blocks/footer/__info-links/footer__info-links.css);
@import url(../blocks/footer/__info-link/footer__info-link.css);
@import url(../blocks/footer/__social-links/footer__social-links.css);
@import url(../blocks/footer/__social-link/footer__social-link.css);