.feutures__subtitle {
  margin: 0;
  font-family: Poppins Medium, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.78;
  text-align: center;
  letter-spacing: 0.122727px;
  color: #9E9AA8;
}

@media screen and (max-width: 400px) {
  .feutures__subtitle {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.109091px;
  }
}