.first-section__image {
  width: 733px;
  height: 482px;
  position: absolute;
  top: 0;
  right: -288px;
  margin-bottom: 100px;
}

@media screen and (max-width:1000px) {
  .first-section__image {
    position: relative;
    right: 0;
  }
}