.first-section__image {
  width: 733px;
  height: 482px;
  position: absolute;
  top: 0;
  right: -288px;
}

@media screen and (max-width:1000px) {
  .first-section__image {
    position: relative;
    right: 0;
    margin-bottom: 37px;
  }
}

@media screen and (max-width:510px) {
  .first-section__image {
    width: 511px;
    object-fit: contain;
    height: 337px;
  }
}

@media screen and (max-width:360px) {
  .first-section__image {
    width: 450px;
  }
}