.card__title {
  margin: 0;
  margin-bottom: 12px;
  font-family: Poppins Bold, sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  color: #34313D;
}

@media screen and (max-width: 1100px) {
  .card__title {
    text-align: center;
  }

}