.card {
  box-sizing: border-box;
  max-width: 350px;
  min-height: 267px;
  padding-top: 77px;
  padding-left: 32px;
  padding-bottom: 41px;
  padding: 77px 32px 41px;
  position: relative;
  background: #FFFFFF;
  border-radius: 5px;
  order: 1;
}

@media screen and (max-width: 1100px) {
  .card {
    margin-bottom: 92px;
  }
  .card:last-of-type {
    margin-bottom: 0;
  }
}